/* Colors  -------------------*/

:root {
    
  --white: #fff;
  --black: #000;
  
  --gray-025: #f9f9f9;
  --gray-050: #f5f5f5;
  --gray-100: #ebebeb;
  --gray-200: #dfdfdf;
  --gray-300: #c7c7c7;
  --gray-400: #b3b3b3;
  --gray-500: #999;
  --gray-600: #777;
  --gray-700: #444;
  --gray-800: #222;
  --gray-900: #111;

  --blue-025: #f5fafe;
  --blue-050: #ecf6fe;
  --blue-100: #d8ecfd;
  --blue-200: #81c2f8;
  --blue-300: #4ca7f6;
  --blue-500: #2494f4;
  --blue-700: #0b7ada;

  --green-025: #f7fcf9;
  --green-050: #e0f5e8;
  --green-100: #a3e0ba;
  --green-200: #71d094;
  --green-300: #3fc06f;
  --green-500: #349d5b;
  --green-700: #2a7e49;

  --yellow-025: #fffcf5;
  --yellow-050: #fef5e1;
  --yellow-100: #fde8be;
  --yellow-200: #f9d285;
  --yellow-300: #f7c665;
  --yellow-500: #f4b434;
  --yellow-700: #d9940b;

  --red-025: #fefbfb;
  --red-050: #fcedee;
  --red-100: #fadbde;
  --red-200: #ef8f97;
  --red-300: #ea6c76;
  --red-500: #dd3c49;
  --red-700: #c32230;

  --plum-025: #fff8ff;
  --plum-050: #fceffc;
  --plum-100: #f7def7;
  --plum-200: #eac5ec;
  --plum-300: #cf91d8;
  --plum-500: #b062bc;
  --plum-700: #9846a4;

  --orange-025: #fef9f5;
  --orange-050: #fef3ec;
  --orange-100: #fce1cf;
  --orange-200: #f9c9a9;
  --orange-300: #f5a570;
  --orange-500: #f28d49;
  --orange-700: #e4782f;
}

/* Fonts  -------------------*/

@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter', sans-serif;
  }
}